
.reservation-container{
  margin: auto;
  width: 80%;

}

.invoice-card {
  margin-top: 30px !important;
  width: 500px;
  margin: 0 auto;
  padding: 30px !important;
  background-color: #605958 !important;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.invoice-card .mat-card-header {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 16px;
  justify-content: center;
  color: rgba(235, 200, 128, 0.75) !important;
}

.invoice-card .mat-card-content {
  font-size: 14px;
}

.invoice-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.invoice-list li {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  border-bottom: 1px dashed rgba(235, 200, 128, 0.75);;
  color: rgba(235, 200, 128, 0.75);
  font-size: 25px;

}

.invoice-list .item-label {
  font-weight: bold;

}

.invoice-total {
  font-weight: 800;
  font-size: 25px;
  margin-top: 16px;
  color: rgba(235, 200, 128, 0.75) !important;
}

.invoice-actions {
  margin-top: 16px;
  display: flex;
  justify-content: space-between;
}

.invoice-actions {
  margin-top: 16px;
  display: flex;
  justify-content: space-between;
}

.invoice-actions button {
  border-radius: 8px;
  padding: 8px 16px;
  font-size: 19px;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-family: "Montserrat", sans-serif !important;

}

.invoice-actions .pay-button {
  background-color: rgba(235, 200, 128, 0.75);
  border: 1px solid rgba(235, 200, 128, 0.75);
}

.invoice-actions .pay-button:hover {
  background-color: transparent;
  border: 1px solid rgba(235, 200, 128, 0.75);
}

.invoice-actions .close-button {
  background-color: #a13128;
}

/* .invoice-actions .close-button:hover {
  background-color: #a13128;
} */





.reserve-form {
  margin-top: 20px !important;
  margin: auto;
  width: 70%;
}
.form-title {
  text-align: center;
  background-color: transparent !important;
  color: #50423e !important;
  font-size: 30px;
  justify-content: center;
  margin-bottom: 30px !important;
  margin-top: 30px !important;

}
form {
  display: grid !important;
  grid-template-columns: repeat(3, 30%);
  gap: 10px;
  justify-content: center;
  border: 1px solid #50423e;
  border-radius: 30px;
  padding: 10px 0px !important;
  width: 80% !important;
  text-align: center !important;
  margin: auto !important;
  /* background-color: rgba(235, 200, 128, 0.75) !important;; */
}
.mat-field-label {
  color: rgba(235, 200, 128, 0.75) !important;
}
.check-btn {
  margin: auto !important;
  background-color: rgba(235, 200, 128, 0.75) !important;
  color: #50423e;
  font-family: "Montserrat", sans-serif !important;
}
.rooms {
  width: 80%;
  margin: auto;
  margin-top: 30px !important;
  display: grid !important;
  grid-template-columns: repeat(3, 400px);
  gap: 30px;
  justify-content: center;
  /* margin: auto; */
  align-items: center;
}

.room {
  width: 400px;
  justify-content: center;
  /* border-radius: 40px; */
  box-shadow: 10px 10px 43px -18px rgba(0, 0, 0, 0.45);

  margin-bottom: 30px;
}

.mat-card {
  border-radius: 0% !important;
}
.mat-card-content {
  font-family: "Montserrat", sans-serif !important;
}
.room-toolbar {
  /* display: block !important; */
  text-align: center;
  background-color: rgba(235, 200, 128, 0.75) !important;
  color: #50423e !important;
  justify-content: center;
  /* border-radius: 40px; */
}
@media (max-width: 800px) {
  form {
    grid-template-columns: repeat(1, 190px);
    justify-content: center;
  }
  /* .room {
      width: 300px !important;
    } */
  .rooms {
    grid-template-columns: repeat(1, 300px);
  }
  .room {
    width: 300px !important;
  }
  .mat-toolbar {
    font-size: 20px !important;
  }
}
