/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; font-family: 'Montserrat', sans-serif !important;}
.mat-toolbar{
    font-family: 'Montserrat', sans-serif !important;
}
body { margin: 0; font-family: 'Montserrat', sans-serif;
}
