<app-navbar></app-navbar>
<div class="image-container">
  <img src="assets/hotel3.jpg" />
  <h1>Enjoy your vacations with us</h1>
</div>
<div class="rooms-conatiner">
  <h1>Choose the perfect accomodation</h1>
  <p>
    Ease all tensions in the crystal-clear swimming pools. Enjoy mini bars.
    Indulge in the sauna to invigorate and revitalize. Utilize top gym
    facilities with an extensive range of fitness and weight training equipment
    in the Health Club.
  </p>
  <div class="rooms">
    <div class="room">
      <mat-toolbar class="room-toolbar"> Deluxe Suite </mat-toolbar>
      <mat-card>
        <img mat-card-image src="assets/room1.jpg" alt="" />
        <mat-card-content>
          Enjoy the stay at our Deluxe suite. The Deluxe Suite features a king-sized bed,is approximately 56sqm. 
          It has a separate lounge and bedroom,spacious bathroom with separate shower, bath, double vanity and toilet. The suite has a modern bathroom with a separate wal.
          <br><br>
          <em>Cost:</em> 400$ per night + extra charges
        </mat-card-content>
      </mat-card>
    </div>
    <div class="room">
        <mat-toolbar class="room-toolbar"> Business Suite </mat-toolbar>
        <mat-card>
          <img mat-card-image src="assets/room2.jpg" alt="" />
          <mat-card-content>
            Enjoy the stay at our Deluxe suite. The Businees Suite features a king-sized bed, alongwith separate workis approximately 56sqm. 
            It has a separate lounge and bedroom,spacious bathroom with separate shower, bath, double vanity and toilet. The suite has a modern bathroom wall.
            <br><br>
            <em>Cost:</em> 500$ per night + extra charges
            </mat-card-content>
        </mat-card>
      </div>
      <div class="room">
        <mat-toolbar class="room-toolbar"> Executive Suite </mat-toolbar>
        <mat-card>
          <img mat-card-image src="assets/room3.jpg" alt="" />
          <mat-card-content>
            Enjoy the stay at our Executive suite. The Executive Suite features a queen-sized bed,is approximately 59sqm. 
            It has a separate lounge and bedroom,spacious bathroom with separate shower, bath, double vanity and toilet. The suite has a modern bathroom with a separate wal.
            <br><br>
            <em>Cost:</em> 400$ per night + extra charges
          </mat-card-content>
        </mat-card>
      </div>
      <div class="room">
        <mat-toolbar class="room-toolbar"> State Suite </mat-toolbar>
        <mat-card>
          <img mat-card-image src="assets/room2.jpg" alt="" />
          <mat-card-content>
            Enjoy the stay at our Executive suite. The ultimate luxurious state suite is tastefully furnished and 
            decorated in a Persian and Pan-African theme. It boasts of a large king size bed, 
            large Living room with 2 plasma TVs and a separate dining room, kitchenette and bar.
            <br><br>
            <em>Cost:</em> 800$ per night + extra charges
          </mat-card-content>
        </mat-card>
      </div>

  </div>
</div>



